body{
    background-color: rgba(0, 0, 0, 0.47)
}
#h{
    font-size: 150px;
    color: #c62c2c;
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-family:sans-serif;
}
#h2{
    font-size: 100px;
    color: #c62c2c;
    margin-left: 80px;
    padding: 20px;
    font-family: sans-serif;

}
#sub{
    font-size: 30px;
    color: black;
    padding: 13px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.47);
    border-style: solid dotted;
    border-color: black #c62c2c;
    border-radius: 60px;
    position: relative;
    left: 120px;
    top: 5px;
}
#sub:hover{
    background-color: rgba(31, 31, 31, 0.47);
    color: #c62c2c;
    border-style: dotted solid;
    border-color: #c62c2c black;
}
#start{
    font-size: 70px;
    color: #e02a2a;
    margin-left: 150px;
    padding: 20px;
    font-family: sans-serif;
}
div{
    background-color: rgba(0, 0, 0, 0.54);
    color: #2a0000;
    padding: 5px;
    line-height: 20px;
    direction: ltr;
}
ul{
    list-style-type: none;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: serif
}
a{
    text-decoration: none;
    color: #2a0000;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}
a:hover{
    color: #a35353;
    font-size: 31px;
}
ul li{
    display: inline-block;
    height: 5px;
    margin: 5px;
    padding: 5px;
}
p{
    font-size: 50px;
    margin: 20px;
    text-align: center
}
input{
    margin: 5px;
    color: #c62c2c;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.47);
    border-style: solid dotted;
    border-color: black #c62c2c;
    border-radius: 50px;
    padding: 5px;
}
input:hover{
    background-color: rgba(31, 31, 31, 0.47);
    color: #c62c2c;
    border-style: dotted solid;
    border-color: #c62c2c black;
}
pre{
    color: black;
    font-size: 30px;
    margin: 5px;
}
#info{
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.54);
    width: 323px;
    padding: 20px;
    position: absolute;
    top: 30%;
    right: 35%;
}
